.article-list {
  color: #313437;
  background-color: #fff;
}

.article-list p {
  color: #7d8285;
  text-align: left;
  /*padding-top: 15px;*/
  width: auto;
}

.article-list h2 {
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
    font-weight: 250;
  }
}

.article-list .intro {
  font-size: 16px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 10px;
}

.article-list .item {
  padding-top: 50px;
  text-align: center;
}

.article-list .item .name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
}

.article-list .item .action {
  font-size: 24px;
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  color: #4f86c3;
  opacity: 0.85;
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

.posts_page p {
  line-height: 20pt;
  margin-bottom: 30pt;
}

.h2, h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-top: 5rem;
}

.home .icons {
  color: rgb(0,0,0);
}

.home .icon {
  color: rgb(0,0,0);
}

div {
  /*margin-left: auto;*/
  margin-right: auto;
}

.h3, h3 {
  text-align: left;
  margin-left: 20%;
  font-size: 30px;
}

.img-fluid {
  padding-top: 0;
}

#car_intro {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("../../assets/img/e20_scaled_edited.jpeg");
}

@media (max-width: 900px) {
  #car_intro {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
    margin-top: 50px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  font-size: 17px;
  /*padding-left: 10px;*/
}

.icon.ion-ios-compose-outline {
  padding-right: 5px;
}

.fa.fa-code {
  padding-right: 5px;
}

.fa.fa-android {
  padding-right: 5px;
}

