@font-face {
	font-family: 'BatmanForeverAlternate';
	src: url(../../assets/fonts/BatmanForeverAlternate.woff2) format('woff2'),
	url(../../assets/fonts/BatmanForeverAlternate.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}