.team-clean {
  color: #313437;
  background-color: #fff;
}

.team-clean p {
  color: #7d8285;
}

.team-clean h2 {
  font-weight: bold;
  color: inherit;
}

.team-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-clean .item {
  text-align: center;
}

.team-clean .item .name {
  font-weight: 400;
  margin-top: 20px;
  color: inherit;
}

.team-clean .item .title {
  text-transform: uppercase;
  font-weight: 300;
  color: inherit;
  letter-spacing: 1px;
  font-size: 15px;
}

.team-clean .item img {
  max-width: 160px;
}

.team-clean .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-clean .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-clean .social a:hover {
  opacity: 1;
}

.text-center.name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
}

